@keyframes anim1
{
  0% { margin-left: -50%; opacity: 0 }
  100% { margin-left: 0%; opacity: 1 }
}
body
{
  background: rgb(27,27,27);
}

#head 
{
  text-align: center;
  color: #af0202;
  margin-top: -2%;
  animation: anim1 1s ease-in;
}

.header
{
  color: rgb(127,186,0);
  text-align: center;
  text-shadow: 2px 2px 3px rgb(59,151,6);
  margin-top: 20%;
  font-size: xxx-large;
  animation: anim1 1s ease-in;
}
