@keyframes anim1
{
	0% { margin-left: -50%; opacity: 0 }
	100% { margin-left: 0%; opacity: 1 }
}

@keyframes anim2
{
	0% { transform: translateY(-5px); }
	50% { transform: translateY(5px); }
 	100% { transform: translateY(-5px); }
}

@media screen and (max-width: 700px)
{
	ul
	{
		position: relative;
		top: -2%;
		left: -6%;
	}
}

::selection
{
	background: black;
	color: green;
}

html
{
	height: 99%;
}

body
{
	background: rgb(27,27,27);
	height: 100%;
}

ul
{
	font-family: arial;
	text-align-last: center;
	position: relative;
	top: -2%;
	left: -1%;
}

ul li 
{
	transition: 1s ease;
	display: inline-block;
	padding: 9px;
	border-radius: 3px;
	color: green;
}

ul li:hover
{
	animation: anim2 1s infinite;
}

li.active
{
	background: rgb(20,150,10);
	border-radius: 15px;
	box-shadow: -3px -3px 10px green inset;
	color: white;
}

.tooltip 
{
	position: relative;
	display: inline-block;
	
}

.tooltip .tooltiptext 
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after 
{
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext 
{
	visibility: visible;
}

#head 
{
	position: relative;
	top: 25%;
	left: 0;
	text-align: center;
	color: #af0202;
	animation: anim1 3s ease-out;
}

.header
{
	color: rgb(127,186,0);
	position: relative;
	top: 25%;
	left: 0;
	text-shadow: 2px 2px 3px rgb(59,151,6);
	text-align: center;
	font-size: xxx-large;
	animation: anim1 3s ease-out;
}
