@keyframes anim1
{
  0% { margin-left: -50%; opacity: 0 }
  100% { margin-left: 0%; opacity: 1 }
}

html
{
  height: 99%;
}

body
{
  background: rgb(27,27,27);
  height: 100%;
}

#head 
{
  position: relative;
  top: 40%;
  text-align: center;
  color: #af0202;
  animation: anim1 3s ease-out;
}

.header
{
  color: rgb(127,186,0);
  position: relative;
  top: 40%;
  text-shadow: 2px 2px 3px rgb(59,151,6);
  text-align: center;
  font-size: xxx-large;
  animation: anim1 3s ease-out;
}
