@import "/index.css";

@media screen and (max-width: 400px)
{
	html
	{
		height: 170%;
	}
}

html
{
	height: 150%;
}

body
{
	background: rgb(27, 27, 27);
}

.heads
{
	color: rgb(127,186,0);
	text-shadow: 2px 2px 3px rgb(59,151,6);
	text-align: center;
	font-size: xxx-large;
}

#downloads
{
	color: #fff;
	margin-left: 15%;
}
